NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://tolani-tunde.github.io/cse445spring-assignment4-files/">
	<xsd:element name ="NationalParks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="NationalPark" maxOccurs="unbounded" minOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name ="Name" type="xsd:string"/>
							<xsd:element name ="Phone" type="xsd:string" maxOccurs="unbounded"/>

							<xsd:element name ="Address">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Number" type="xsd:string"/>
										<xsd:element name="Street" type= "xsd:string"/>
										<xsd:element name="City" type= "xsd:string"/>
										<xsd:element name="State" type= "xsd:string"/>
										<xsd:element name="Zip" type= "xsd:string"/>
									</xsd:sequence>
									<!-- Required -->
									<xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>

								</xsd:complexType>

							</xsd:element>

						</xsd:sequence>
						<!--	Optional -->
						<xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
					</xsd:complexType>
					</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
